body {
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
}

.nav-link {
    color: rgb(231, 185, 70);
}

.navbar-brand {
    color: white;
    font-style: italic;

}

.fw-normal {
    color: white;
}

section h2 {
    font: size 20px;
    font-style: italic;
    color: goldenrod;
}

h2{
    text-align: center;
}

.Dados h1{
    text-align: center;
} 